<p id="notice"><%= notice %></p>

<h1>Documentpassages</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Passage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentpassages.each do |documentpassage| %>
      <tr>
        <td><%= documentpassage.document_id %></td>
        <td><%= documentpassage.passage_id %></td>
        <td><%= link_to 'Show', documentpassage %></td>
        <td><%= link_to 'Edit', edit_documentpassage_path(documentpassage) %></td>
        <td><%= link_to 'Destroy', documentpassage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documentpassage', new_documentpassage_path %>
