<nav id = "dashboardNav"> 
  <div>
  <%= link_to('Dashboard', "/") %> 
  <h1>|</h1>
  <%= link_to('Passages', passages_path) %> 
  <h1>|</h1>
  <%= link_to('Annotations', annotations_path) %>
  <h1>|</h1>
  </div>
  <div>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <h1> | </h1>
    <%= mail_to "yoentiendo@gmail.com", "Contact"%>
  </div>
</nav>

<br>
<br>
<br>
<h1 style = "color: white; font-family: Montserrat;">Collaboration</h1>
<br>
<br>

<table id = "inboxTableIndex">
  <h3 class = "boxTables">Inbox</h3>
  
  <h5 class = "boxTables">All [<%= @passage_shares_recieved.length %>]</h5>
  <h5 class = "boxTables">Unread [<%= @passage_shares_recieved_unread.length %>]</h5>
  <h5 class = "boxTables">Read [<%= @passage_shares_recieved_read.length %>]</h5>
  <thead> 
    <tr>
      <th class = "boxTables">From</th>
      <th class = "boxTables">Passage</th>
      <th class = "boxTables">Editing Privilege?</th>
      <th class = "boxTables">At</th>
    </tr>
  </thead>

  <tbody>
    <% if @passage_shares_recieved != nil %>

      <% @passage_shares_recieved.each do |passageshare| %>
          <% if passageshare.opened %>
            <% inbox_row_class = "openedInboxRow" %>
          <% else %>
            <% inbox_row_class = "unopenedInboxRow" %>
          <% end %>

          <tr data-sent-share-link = <%= "/passage_shares/#{passageshare.id}" %> class = <%= inbox_row_class %>>
            <td class = "boxTables"><%= @sending_to_me[passageshare.author_user_id].email %></td>
            <td class = "boxTables"><%= link_to @passages_recieved[passageshare.passage_id].title, @passages_recieved[passageshare.passage_id] %></td>
            <% if passageshare.edit_privilege %>
              <td class = "boxTables">Yes</td>
            <% else %>
              <td class = "boxTables">No</td>  
            <% end %>
            <td class = "boxTables"><%= passageshare.created_at.strftime("%m/%d/%Y %l:%M %P") %></td>
            <td class = "boxTables"><%=link_to 'Open', passage_share_path(passageshare) %></td>
          </tr>
        <% end %>

    <% end %>
  </tbody>
</table>

<table id = "outboxTableIndex">
  <h3 class = "boxTables">Outbox</h3>
  <h5 class = "boxTables">All [<%= @passage_shares_sent.length %>]</h5>
  <h5 class = "boxTables">Opened [<%= @passage_shares_sent_opened.length %>]</h5>
  <h5 class = "boxTables">Unopened [<%= @passage_shares_sent_unopened.length %>]</h5>
  <thead>
    <tr>
      <th class = "boxTables">To</th>
      <th class = "boxTables">Passage</th>
      <th>At</th>
      <th>Granted Editing Privileges</th>
    </tr>
  </thead>

  <tbody>
  <% if @passage_shares_sent != nil %>

      <% @passage_shares_sent.each do |passageshare| %>
        <% if passageshare.opened %>
          <% sent_row_class = "openedSentRow" %>
        <% else %>
          <% sent_row_class = "unopenedSentRow" %>
        <% end %>

        <tr data-sent-share-link = <%= "/passage_shares/#{passageshare.id}" %>  class = <%= sent_row_class %>>
          <td class = "boxTables"><%= @receiving_from_me[passageshare.recieving_user_id].email %></td>
          <td class = "boxTables"><%=link_to @passages_sent[passageshare.passage_id].title, @passages_sent[passageshare.passage_id] %></td>
          <td class = "boxTables"><%= passageshare.created_at.strftime("%m/%d/%Y %l:%M %P") %></td>
          <% if passageshare.edit_privilege %>
            <td class = "boxTables"> Yes </td>
          <% else %>
            <td class = "boxTables"> No </td>
          <% end %>
          <td class = "boxTables"><%=link_to 'View', passage_share_path(passageshare) %></td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Send a Passage', new_passage_share_path, :id  => "Thing"%>
