<p id="notice"><%= notice %></p>

<%= link_to 'Back', url_for(:back) %>|
<%= link_to "Dashboard", authenticated_root_path %> |
<%= link_to('Passages', passages_path) %> |
<%= link_to('Collaborate', passage_shares_path) %> |
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<br>
<br>
<br>
<td><%= link_to 'Open in Editor Mode', edit_annotation_path(@annotation) %></td>
<br>


<h2>Passage</h2>
<h5><%= @passage.title %></h5>

<h2>Original Text</h2>
<p><%= @annotation.original_spanish %></p>

<h2>Annotation</h2>
<p><%= @annotation.annotation_content %></p>





