<span style = "display: none;" id = "hiddenFeedAnnotationCodeString"><%=raw @all_annotation_string %></span>
<p style = "display: none;" id = "hiddenFeedCurrentPassageID"><%= @passage.id %></p>


<nav id = "dashboardNav"> 
  <div>
  <%= link_to('Dashboard', "/") %> 
  <h1>|</h1>
  <%= link_to('Annotations', annotations_path) %>
  <h1>|</h1>
  <%= link_to "Collaborate [#{PassageShare.where(["recieving_user_id = ? and opened = ?", @current_user.id, false]).length}]", passage_shares_path %>
  <h1>|</h1>
  </div>
  <div>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <h1> | </h1>
    <%= mail_to "yoentiendo@gmail.com", "Contact"%>
  </div>
</nav>


<div id = "basicPassageInfo">
  <h1 id = "title">
    <%= @passage.title %>
  </h1>
  <% if @author.id == @current_user.id %>
    <h4>by You</h4>
  <% else  %>
    <h4>by <%= @author.email %> </h4>
  <% end  %>
</div>

<section id = "passageDisplayHolder">
<p id = "display">
  <%=raw  @passage.content %>
</p>
</section>





<div id = "passageOptions">
  <% if @has_editing_privilege %>
    <%= link_to 'Open in Editor Mode', edit_passage_path(@passage)%> 
  <% end %>
  <% if @passage.user_id == @current_user.id %>
    <%= link_to 'Delete this Passage', @passage, method: :delete, data: { confirm: 'Are you sure want to delete this passage?' } %> 
  <% end %>
  <a href = "" id = "downloadTXT">Download as txt File</a>  
  <a href = "" id = "downloadDOC">Download as doc File</a> 
</div>

<div id = "updateHistoryInPassage">
<h4>Update History</h4>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Type</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @update_history.each_with_index do |update, index| %>
          <tr data-uptrack-link = <%= "/update_track/#{update.id}"  %>>
            <% if @participating_users[update.id].id == @current_user.id %>
              <td> You </td>
            <% else %>
              <td><%= @participating_users[update.id].email %></td>
            <% end %>
            <% if index == 0 %>
              <td><%=  @time_since[update.id] %></td>
            <% else %>
              <td><%= update.created_at.strftime("%m/%d/%Y %l:%M %P") %></td>
            <% end %>
            <% if update.nature === "created passage" %>
              <td><%= "Created" %></td>
            <% else %>
              <td><%= "Edited" %></td>
            <% end %>
          </tr>

      <% end %>
    </tbody>
  </table>
</div>



<div id = "infoDisplay">
</div>